body {
    color: black;
    background-color: #212121;
}

.navbar-collapse {
    margin-top: 24px;
    padding-top: 12px;
}

#chat-box {
    color: chartreuse;
    margin: 50px auto auto;
}

#Liberal {
    color: dodgerblue;
    background-color: dodgerblue;
}

#Conservative {
    color: red;
    background-color: red;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
     max-width: 1320px; /* Adjust as per your Bootstrap container width */
  width: 100%;
  margin: 0 auto;
}

#search-input {
    width: 75%; /* Set width to 75% */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#response-length {
    width: 25%; /* Set width to 25% */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#search-input, #response-length {
    padding: 10px;
    /*margin: 5px;*/
    border: 1px solid #424242;
    font-size: 16px;
    background-color: #212121;
    color: white;
    outline: none;
}

#search-button {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}


#search-button:hover {
  background-color: #0056b3;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin-left: 10px;
  display: none; /* Initially hidden */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#response-length::-webkit-inner-spin-button,
#response-length::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Hide the arrows on Chrome & Safari */
  appearance: none; /* Hide the arrows on Firefox */
  margin: 0; /* Optional: remove margin */
}