body {
    color: black;
    background-color: lightgrey;
}

.navbar-collapse {
    margin-top: 24px;
    padding-top: 12px;
}

#chat-box {
    color: chartreuse;
    margin: 50px auto auto;
}

card {
    align-self: center;
}