body {
    color: black;
    background-color: dimgray;
}

.navbar-collapse {
    margin-top: 24px;
    padding-top: 12px;
}

#chat-box {
    color: chartreuse;
    margin: 50px auto auto;
}

#Liberal {
    color: dodgerblue;
    background-color: dodgerblue;
}

#Conservative {
    color: red;
    background-color: red;
}
